# Данные
*.csv

# Модели
models/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Окружение
.env
.venv
.environment
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.zip
*.rar

data/
db.sqlite3
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/ml_models

celerybeat-schedule